[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maxdipenta
[access "refs/for/refs/*"]
	read = group user/maxdipenta
	push = group user/maxdipenta
	label-Code-Review = -2..+2 group user/maxdipenta
	label-Verified = -1..+1 group user/maxdipenta
	rebase = group user/maxdipenta
	removeReviewer = group user/maxdipenta
	submit = group user/maxdipenta
[access "refs/heads/*"]
	read = group user/maxdipenta
	create = group user/maxdipenta
	push = +force group user/maxdipenta
	pushMerge = group user/maxdipenta
[access "refs/tags/*"]
	push = group user/maxdipenta
	push = +force group user/maxdipenta
